.SearchBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -10px;
    margin-left: 500px;
}

.SearchBox h3 {
    margin-bottom: 0px;
}

.SearchBox form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
